<html>

<body>
    <div class="dashDiv" ng-controller="dashboardCtrl as note" ng-init="getAllNotes()">
        <header class="headerhc">
            <div class="logohc">
                <img src="../../Image/Menu.png" width="20px" , height="15px" />
                <img src="../../Image/keep.png" alt="Fundoo Notes" width="40px" , height="40px" />
                <div>{{titleName[0]}}</div>
            </div>
            <div class="searchhc">
                <SearchIcon fontSize="medium" />
                <input type="text" placeholder="Search" />
            </div>
            <div class="opthc">
                <img class="refresh" src="../../Image/refresh.png" width="18px" , height="18px" ng-click="refreshWindow()"/>
                <img src="../../Image/view.png" width="25px" , height="23px" style="opacity: 0.5;" />
                <img src="../../Image/settings.png" width="18px" , height="18px" />
            </div>
            <div class="userhc" ng-click="userDetails()">
                <img src="../../Image/apps.png" width="18px" , height="18px" style="opacity: 0.6;" />
                <img src="../../Image/Accounts.png" width="25px" , height="25px" />
            </div>
        </header>
        <div style="display: flex;">
            <div class="icon" style="opacity: 0.7;">
                <div class="sidenavdiv" ng-click="refreshWindow()"
                    style="display: flex; align-items: center; gap: 2.5rem; text-decoration: none;">
                    <img src='../../Image/noteIcon.png' width="22px" , height="25px" />
                    <p>Notes</p>
                </div>
                <div class="sidenavdiv" style="display: flex; align-items: center;gap: 2.5rem;text-decoration: none;">
                    <img src='../../Image/bell.png' width="23px" , height="27px" />
                    <p>Remainder</p>
                </div>
                <div class="sidenavdiv" ng-repeat="label in allLabels"
                    style="display: flex; align-items: center;gap: 2.5rem;text-decoration: none;">
                    <img src='../../Image/label.png' width="21px" , height="25px" />
                    <p>{{label.name}}</p>
                </div>
                <div href="#" class="sidenavdiv"
                    style="display: flex; align-items: center;gap: 2.5rem;text-decoration: none;">
                    <img src='../../Image/EditIcon.png' width="21px" , height="25px" />
                    <p>Label</p>
                </div>
                <div class="sidenavdiv" ng-click="setArchView(1)"
                    style="display: flex; align-items: center;gap: 2.5rem;text-decoration: none;">
                    <img src='../../Image/ArchiveIcon.png' width="23px" , height="25px" />
                    <p>Archive</p>
                </div>
                <div href="#" class="sidenavdiv" ng-click="setTrashView(2)"
                    style="display: flex; align-items: center;gap: 2.5rem;text-decoration: none;">
                    <img src='../../Image/TrashIcon.png' width="22px" , height="25px" />
                    <p>Trash</p>
                </div>
            </div>
            <div>
                <div class="note" style="width: 70vw;">
                    <main class="takeNoteOne" ng-show="showButtons.includes(0)" ng-click="toggle1()">
                        <input type="text" placeholder="Take a note..." />
                        <div class="imgtno">
                            <img src="../../Image/checkbox.png" width="20px" , height="20px" />
                            <img src="../../Image/brush.png" width="22px" , height="25px" />
                            <img src="../../Image/photo.png" width="22px" , height="25px" />
                        </div>
                    </main>
                    <div class="takenotetwo" ng-show="showButtons.includes(1)">
                        <div class="titletnt">
                            <input type="text" placeholder="Title" ng-model="title" />
                            <div class="pin"><img src="../../Image/pin.png" width="22px" , height="22px" /></div>
                        </div>
                        <input type="text" placeholder="Take a note..." ng-model="description" />
                        <div class="icontnt">
                            <div class="icontntimg">
                                <img src="../../Image/bell.png" width="20px" , height="20px" />
                                <img src="../../Image/add-user.png" width="20px" , height="20px" />
                                <img src="../../Image/paint-palette.png" width="20px" , height="20px" />
                                <img src="../../Image/photo.png" width="20px" , height="20px" />
                                <img src="../../Image/ArchiveIcon.png" width="20px" , height="20px" />
                                <img src="../../Image/more-vert.png" width="20px" , height="20px" />
                                <img src="../../Image/undo.png" width="20px" , height="20px" />
                                <img src="../../Image/redo.png" width="20px" , height="20px" />
                            </div>
                            <div class="close" style="cursor:pointer;" ng-click="postNote(title,description)">Close
                            </div>
                        </div>

                    </div>
                </div>
                <div style="display: flex;flex-wrap: wrap; margin: 0;">
                    <div class="takenotethree" ng-repeat="note in collabData">
                        <div class="notetnh" id="notetnh" style="background-color: {{note.color}};">
                            <div class="titletnh">
                                <h4>{{note.title}}</h4>
                                <img src="../../Image/pin.png" width="22px" , height="22px"
                                    ng-click="pinNote(note.noteID)" />
                            </div>
                            <h4>{{note.description}}</h4>
                            <img src="../../Image/Accounts.png" width="25px" , height="25px" style="padding-left: 10px;"/>
                            <div class="icontnhimg">
                                <img src="../../Image/bell.png" width="20px" , height="20px" />
                                <img src="../../Image/add-user.png" width="20px" , height="20px" ng-click="collabPopup(note.noteID)"/>
                                <div class="paintPallet">
                                    <img src="../../Image/paint-palette.png" width="20px" , height="20px"
                                        ng-click="colorPopup()" />
                                    <div class="colorPopper" ng-show="colorPop.includes(1)">
                                        <div class="colorCode" ng-click="changeColor(note.noteID, color)"
                                            ng-repeat="color in colorArray" style="background-color:{{color}} ;">
                                        </div>
                                    </div>
                                </div>
                                <img src="../../Image/photo.png" width="20px" , height="20px" />
                                <img src="../../Image/ArchiveIcon.png" width="20px" , height="20px"
                                    ng-click="archiveNote(note.noteID)" />
                                <div class="moreVert">
                                    <img src="../../Image/more-vert.png" width="20px" , height="20px"
                                        ng-click="popper(note.noteID)" />
                                    <div class="popper" ng-show="pop.includes(1)">
                                        <div ng-click="trashNote()">
                                            <p>Delete Note</p>
                                        </div>
                                        <div ng-click="addLabel(note.noteID)">
                                            <p>Add Label</p>
                                        </div>
                                        <p>Add Drawing</p>
                                        <p>Make a copy</p>
                                        <p>Show Checkboxes</p>
                                        <p>Grab image text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="takenotethree" ng-repeat="note in myNotes">
                        <div class="notetnh" id="notetnh" style="background-color: {{note.color}};">
                            <div class="titletnh">
                                <h4>{{note.title}}</h4>
                                <img src="../../Image/pin.png" width="22px" , height="22px"
                                    ng-click="pinNote(note.noteID)" />
                            </div>
                            <h4>{{note.description}}</h4>
                            <div class="icontnhimg">
                                <img src="../../Image/bell.png" width="20px" , height="20px" />
                                <img src="../../Image/add-user.png" width="20px" , height="20px" ng-click="collabPopup(note.noteID)"/>
                                <div class="paintPallet">
                                    <img src="../../Image/paint-palette.png" width="20px" , height="20px"
                                        ng-click="colorPopup()" />
                                    <div class="colorPopper" ng-show="colorPop.includes(1)">
                                        <div class="colorCode" ng-click="changeColor(note.noteID, color)"
                                            ng-repeat="color in colorArray" style="background-color:{{color}} ;">
                                        </div>
                                    </div>
                                </div>
                                <img src="../../Image/photo.png" width="20px" , height="20px" />
                                <img src="../../Image/ArchiveIcon.png" width="20px" , height="20px"
                                    ng-click="archiveNote(note.noteID)" />
                                <div class="moreVert">
                                    <img src="../../Image/more-vert.png" width="20px" , height="20px"
                                        ng-click="popper(note.noteID)" />
                                    <div class="popper" ng-show="pop.includes(1)">
                                        <div ng-click="trashNote()">
                                            <p>Delete Note</p>
                                        </div>
                                        <div ng-click="addLabel(note.noteID)">
                                            <p>Add Label</p>
                                        </div>
                                        <p>Add Drawing</p>
                                        <p>Make a copy</p>
                                        <p>Show Checkboxes</p>
                                        <p>Grab image text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="userDetail" ng-show="userView.includes(1)">
            <div class="userImg">
                <p>{{User.userName[0]}}</p>
            </div>
            <div style="display: flex;flex-direction: column;align-items: center;">
                <p style="font-size: larger; font-weight: 1000;margin: 0;">{{User.userName}}</p>
                <p>{{User.email}}</p>
            </div>
            <div class="addAcount" ng-click="createAccount()">
                <img src="../../Image/add-user.png" width="20px" , height="20px" />
                <p>Add Another Acount</p>
            </div>
            <button class="signoutBtn" ng-click="signout()">Sign Out</button>
            <div style="font-size: medium;">
                Privacy Polic * Terms of Service
            </div>
        </div>
        <div class="collab" ng-show="collabView.includes(1)">
            <p class="collabTitle">Collaborators</p>
            <div style="display: flex;align-items: center;gap: 2rem;">
                <img class="collabImg" src="../../Image/add-user.png" width="30px" , height="30px" />
                <input class="collabEmail" ng-model="collabEmail" type="text" placeholder="Email to share with" />
            </div>
            <button class="collabSave" ng-click="setCollab(collabEmail)">Save</button>
        </div>
        <div class="label" ng-show="labelView.includes(1)">
            <p class="labelTitle">Label Note</p>
            <input class="labelName" ng-model="labelName" type="text" placeholder="Enter label name" />
            <button class="labelSave" ng-click="setLabel(labelName)">Save</button>
        </div>
    </div>
</body>

</html>